body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.image{
    position: absolute;
    top: 140px;
    left: 3vh;
}

.ket{
    position: absolute;
    top: 350px;

}